:root {
  --default: "#fff";
  --yellow: "#fff87f";
  --cyan: "#77f5ff";
  --purple: "#9a94ff";
  --skin-light: "#fece95";
  --orange: "#feab6f";
  --red: "#fd91a7";
  --green: "#7fff9a";
  --purpleblue: "#6288fe";
  --skin-dark: "#876451";
}

body {
  background-color: #8ca5ff;
}

nav {
  background: #6288fd !important;
}

.page-footer {
  background: #6288fd !important;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.browse-feed {
  width: 400px;
  margin: auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.post-frame {
  margin: 9px;
}

.post-frame:hover .post-react {
  margin-top: -27px;
  margin-bottom: -13px;
}

.post-react {
  display: flex;
  margin-top: -40px;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
}

.post-react img {
  width: 45px;
  height: 45px;
  position: relative;
}

.post-react button {
  font-size: larger;
}

.post-react button i {
  color: rgba(0, 0, 0, 0.9);
}

.post-react button.pink {
  background: #fd91a7 !important;
}

.post-react button.green {
  background: #7fffa7 !important;
}

.post-react .flex-between {
  align-items: center;
  width: 100%;
  padding-left: 6px;
}

.nav-wrapper {
  padding: 0 24px;
}

.card-sm {
  height: 180px;
}

.card-lg {
  height: 270px;
}

.card-sm,
.card-lg {
  overflow: hidden;
  position: relative;
  width: 330px;
}

.card-sm>.card-content,
.card-lg>.card-content {
  padding: 0 12px;
}

.post {
  position: relative;
}

.post>* {
  position: absolute;
}

.color-ball {
  height: 32px;
  width: 32px;
}